
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'SansPro';
  src: local('SansPro'), url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
